<!--<div class="w-full max-w-md px-8 py-4 mt-16 bg-white rounded-lg shadow-lg dark:bg-gray-800">
    <div class="flex justify-center -mt-16 md:justify-end">
        <img class="object-cover w-20 h-20 border-2 border-blue-500 rounded-full dark:border-blue-400" alt="Testimonial avatar" src="https://images.unsplash.com/photo-1499714608240-22fc6ad53fb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=76&q=80">
    </div>

    <h2 class="mt-2 text-xl font-semibold text-gray-800 dark:text-white md:mt-0">Design Tools</h2>

    <p class="mt-2 text-sm text-gray-600 dark:text-gray-200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores deserunt ea doloremque natus error, rerum quas odio quaerat nam ex commodi hic, suscipit in a veritatis pariatur minus consequuntur!</p>

    <div class="flex justify-end mt-4">
        <a href="#" class="text-lg font-medium text-blue-600 dark:text-blue-300" tabindex="0" role="link">John Doe</a>
    </div>
</div>-->

<!--relative block -->
<div class='w-full max-w-md px-8 py-4 mt-16 shadow-lg dark:bg-gray-800/20 backdrop-filter backdrop-blur-lg bg-white/20 rounded-lg border border-slate-100/20'>
  <!--<ng-content></ng-content>-->

    <!--<div class="flex items-center">
      <img
        alt="Dog"
        src="https://images.unsplash.com/photo-1508280756091-9bdd7ef1f463?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1832&q=80"
        class="h-16 w-16 rounded-full object-cover"
      />

      <div class="ml-4 text-sm text-base leading-6 font-medium text-white">
        <p class="font-medium">Bark Dagleish</p>
        <p class="mt-1 text-sm leading-5 font-medium text-gray-400 group-hover:text-gray-300 transition ease-in-out duration-150">Head of Barketing</p>
      </div>
    </div>-->
    <div class="flex justify-center -mt-16 md:justify-end">
      <img
        alt="Dog"
        src="https://images.unsplash.com/photo-1508280756091-9bdd7ef1f463?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1832&q=80"
        class="object-cover w-20 h-20 border-2 border-blue-500 rounded-full dark:border-blue-400"
      />
    </div>

    <h2 class='mt-2 text-xl font-semibold text-white dark:text-white md:mt-0'>John Smith <span class='text-slate-300'>. Apr 12, 2022</span></h2>

    <p class="relative mt-4 text-gray-500 text-base width-auto font-medium text-white flex-shrink">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores deserunt ea doloremque natus error, rerum quas odio quaerat nam ex commodi hic, suscipit in a veritatis pariatur minus consequuntur!</p>
    
    <div class="flex justify-end mt-4">
      <a href="#" class="text-lg font-medium text-blue-600 dark:text-blue-300" tabindex="0" role="link">@johnsmith0345</a>
    </div>

    <!--<div class="ml-4 text-sm text-base leading-6 font-medium text-white">
      <p class="font-medium">Bark Dagleish</p>
      <p class="mt-1 text-sm leading-5 font-medium text-gray-400 group-hover:text-gray-300 transition ease-in-out duration-150">Head of Barketing</p>
    </div>-->

    <!--<p class="relative mt-4 text-gray-500 text-base width-auto font-medium text-white flex-shrink">
      <span class="text-xl">&ldquo;</span>

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
      assumenda officiis sit amet itaque eveniet accusantium corporis
      tempora, soluta perspiciatis rerum, ratione animi nemo inventore
      repellat, commodi in esse quisquam.

      <span class="text-xl">&rdquo;</span>
    </p>-->
</div>
