<div class='w-full max-w-md px-8 py-4 mt-16 shadow-lg dark:bg-gray-800/20 backdrop-filter backdrop-blur-lg bg-white/20 rounded-lg border border-slate-100/20'>

  <div class="flex justify-center -mt-16 md:justify-end">
    <img
      alt="{{handle}}"
      src="{{avatar}}"
      class="object-cover w-20 h-20 border-2 border-blue-500 rounded-full dark:border-blue-400"
    />
  </div>

  <h2 class='mt-2 text-xl font-semibold text-white dark:text-white md:mt-0'>{{name}} <span class='text-slate-300'>. {{date}}</span></h2>

  <p class="relative mt-4 text-gray-500 text-base width-auto font-medium text-white flex-shrink">
    <ng-content></ng-content>
  </p>
  
  <div class="flex justify-end mt-4">
    <a href="#" class="text-lg font-medium text-blue-600 dark:text-blue-300" tabindex="0" role="link">{{handle}}</a>
  </div>

</div>
